{% load multiply %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.carrodecompra.css' %}">
    <link rel="icon" href="{% static 'imgs/logo.png' %}" type="image/x-icon" style="border-radius: 50%; object-fit: cover;">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.carrodecompra.css' %}">
    <title>Reshop Nero</title>
    <style>
        .ele-per {
            background-color: #ffc107!important; 
            color: black; 
            border: 1px solid #ffc107!important;
        }
       
        .navbar-custom, .navbar-custom .navbar-nav .nav-link {
            background-color: black; 
            color: white; 
        }

        
        .navbar-custom .dropdown-menu {
            background-color: black;
            color: white;
        }

        .navbar-custom .dropdown-item {
            color: white;
        }

        .navbar-custom .dropdown-item:hover {
            background-color: #505050; 
        }
    </style>
</head>
<body class="bg-light">
      <!-- barra de navegacion-->
      <div class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'inicioUsuario' %}"><img src="{% static 'imgs/logo.png' %}" alt="" style="height: 50px; width: 50px;"> Reshop Nero</a>
                <form class="d-flex" role="button">
                    <!-- Botón carro de compras -->
                    <button class="btn btn-warning position-relative" style="margin-right: 10px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        {% for item in carrito %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-secondary">{{cant}}<span class="visually-hidden">carro</span></span>
                        {% endfor %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="color: white;" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                          <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
                        </svg>
                        </button>
                    <!-- Botón usuario -->
                    <div class="btn-group dropstart">
                        <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'imgs/fotodeperfil.jpg' %}" class="float-end" style="height: 2dvw; width: 2dvw; border-radius: 50%;">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Ver perfil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'index' %}">Cerrar sesión</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </nav>
        <!-- Barra de búsqueda y herramientas -->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Sección
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Electrónica</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Anime</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Favoritos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'venderProducto'%}">Vender</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" href="{% url 'misproductos'%}">Mis Productos</a>
                            </li>
                        </ul>
                    </div>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscador" aria-label="Search">
                        <button class="btn btn-warning" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color: white;" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg></button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-11 mx-auto">
                <!-- Estructura principal de la página -->
                <div class="row mt-3">
                    <!-- div de lista de producto -->
                    <div class="col-md-12  col-11 mx-auto main_cart mb-lg-0 mb-5 shadow">
                        <h2 class="py-4 fw-bold">Mis Productos</h2>
                        <hr>
                        {% for producto in productos %}
                        <!-- Tarjeta de producto -->
                        <div class="card p-4">
                            <div class="row">
                                <!-- Imagen del producto -->
                                <div class="col-md-3 col-11 mx-auto bg-light d-flex justify-content-center align-items-center shadow product_img">
                                    {% if producto.imagen %}
                                    <img src="{{ producto.imagen.url }}" class="img-fluid" alt="Imagen del producto" style="height: 225px; width: 100%; object-fit: cover;">
                                    {% else %}
                                    <span>Imagen no disponible</span>
                                    {% endif %}
                                </div>
                               
                                <!-- Detalles del producto -->
                                <div class="col-md-5 col-11  px-5 mt-2">
                                    <div class="row">
                                        <!-- Nombre y características del producto -->
                                        <div class="col-6">
                                            <h2 class="mb-1">{{ producto.nombre }}</h2>
                                            <small class="text-body-secondary mb-2">({{ producto.categoria.nombre }})</small>
                                            <p class="mb-2">${{ producto.precio }}</p>
                                            <p class="card-text text-dark text-truncate">{{ producto.descripcion }}</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!--Acciones ver / eliminar / editar-->
                                <div class="col-md-4 col-11  px-5 mt-2">
                                    <div class="row">
                                        
                                        <img src="{% static 'imgs/revisarSimbolo.png' %}" alt="" class="row ms-md-5" style="height: 5dvw; width: 5dvw;">
                                        <img src="{% static 'imgs/editarSimbolo.png' %}" alt="" class="row ms-md-5" style="height: 5dvw; width: 5dvw;">
                                        <img src="{% static 'imgs/elimarSimbolo.png' %}" alt="" class="row ms-md-5" style="height: 5dvw; width: 5dvw;">
                                        
                                    </div>

                                </div>
                                
                            </div>
                        </div>
                        <hr/>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
<footer class="text-center text-lg-start text-muted bg-dark mt-3" style="background-color: black!important;" data-bs-theme="dark">
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start pt-4 pb-4">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-12 col-lg-3 col-sm-12 mb-2">
            <!-- Content -->
            <a href=""{% url 'index' %}"" target="_blank" class="text-white h2">
                ReShop Nero
            </a>
            <p class="mt-1 text-white">
              © 2024 Copyright: ReShopNero.cl
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-6 col-sm-4 col-lg-2">
            <!-- Links -->
            <h6 class="text-uppercase text-white fw-bold mb-2">
                Tienda
            </h6>
            <ul class="list-unstyled mb-4">
              <li><a class="text-white-50" href="#">Sobre nosotros</a></li>
              <li><a class="text-white-50" href="#">Dirección</a></li>
              <li><a class="text-white-50" href="#">Categorías</a></li>
              <li><a class="text-white-50" href="#">Blogs</a></li>
            </ul>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-6 col-sm-4 col-lg-2">
            <!-- Links -->
            <h6 class="text-uppercase text-white fw-bold mb-2">
                Información
            </h6>
            <ul class="list-unstyled mb-4">
              <li><a class="text-white-50" href="#">Ayuda</a></li>
              <li><a class="text-white-50" href="#">uwu</a></li>
              <li><a class="text-white-50" href="#">Información de envío</a></li>
            </ul>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-6 col-sm-4 col-lg-2">
            <!-- Links -->
            <h6 class="text-uppercase text-white fw-bold mb-2">
                Soporte
            </h6>
            <ul class="list-unstyled mb-4">
              <li><a class="text-white-50" href="#">Documentos</a></li>
              <li><a class="text-white-50" href="#">Recuperar cuenta</a></li>
              <li><a class="text-white-50" href="#">Reembolso</a></li>
              <li><a class="text-white-50" href="#">Mis pedidos</a></li>
            </ul>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-12 col-sm-12 col-lg-3">
            <!-- Links -->
            <h6 class="text-uppercase text-white fw-bold mb-2">Newsletter</h6>
            <p class="text-white">Stay in touch with latest updates about our products and offers</p>
            <div class="input-group mb-3">
              <input type="email" class="form-control border" placeholder="Email" aria-label="Email" aria-describedby="button-addon2" />
              <button class="btn btn-warning border shadow-0" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                Join
              </button>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <div class="">
      <div class="container">
        <div class="d-flex justify-content-between py-4 border-top">
          
          <div>
            <i class="fab fa-lg fa-cc-visa text-white"></i>
            <i class="fab fa-lg fa-cc-amex text-white"></i>
            <i class="fab fa-lg fa-cc-mastercard text-white"></i>
            <i class="fab fa-lg fa-cc-paypal text-white"></i>
          </div>
          
        </div>
      </div>
    </div>
  </footer>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header ele-per" >
      <h5 class="offcanvas-title" id="offcanvasExampleLabel" >Carro</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
        <div class="offcanvas-body">
          
          <div class="row-product">
            {% for item in carrito %}
            <div class="cart-product">
                <div class="container text-center">
                    <div class="row justify-content-start">
                        <div class="col-4">
                            <img src="{{ item.imagen }}" class="img-fluid" style="max-height: 60px;" alt="">
                        </div>
                        <div class="col-4">
                            <h5 class="text-truncate">{{ item.nombre }}</h5>
                            <h6><span>{{ item.cantidad }}</span>X${{ item.precio }}</h6>
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center" style="padding-left:90px;">
                          <form action="{% url 'disminuir_producto_offcanvas' item.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn-close delete-btn" aria-label="Close"></button>
                          </form>  
                          </div>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        </div>
        <hr>
        
        <h6 class="total-pagar justify-content-center d-flex">Total a Pagar:<span>${{total}}</span></h6>
        <hr>
        <a href="{% url 'carrodecompra' %}" class="btn btn-warning" role="button">Ver carro</a></div></div>
  
    <script src="{% static 'bootstrap-5.3.3/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
