<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap-5.3.3/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/estilos_registrarse.css' %}">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/cheatsheet/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <title>ReShop Nero</title>
    <link rel="icon" href="{% static 'imgs/logo.png' %}" type="image/x-icon" style="border-radius: 50%; object-fit: cover;">
</head>
<body>
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong> {{ message }} </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
{% endif %}
    
    <div><h1 class="mb-3">Registro</h1></div>
    <div class="container">
        <div class="row justify-content-center ms-0 p-0 mb-10px">
            <div class="col-md-6 col-sm-12 col-lg-6 col-12">
                <form id="form_registro" method="POST" action="{% url 'registro' %}">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/validacionRegistro.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
